asgiref==3.3.1
astroid==2.4.2
backcall==0.2.0
beautifulsoup4==4.9.3
click==7.1.2
colorama==0.4.4
decorator==4.4.2
Django==3.1.6
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-js-asset==1.2.2
future==0.18.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.17.2
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.4.3
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.1.2
mkdocs-material==7.0.3
mkdocs-material-extensions==1.0.1
nltk==3.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
prompt-toolkit==3.0.8
ptyprocess==0.7.0
Pygments==2.7.3
pylint==2.6.0
pymdown-extensions==8.1.1
pytz==2020.4
PyYAML==5.4.1
regex==2020.11.13
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
tqdm==4.58.0
traitlets==5.0.5
wcwidth==0.2.5
wrapt==1.12.1
whitenoise==5.2.0