{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="header" style="margin-bottom: 50px !important;">
    <h1 class="display-3">Skills and Blog</h1>
    <p>Hi, I'm Ever. I am a Web Developer.<br>
    Here you can see a bit of my journey into this beautiful world.</p>

    <a id= "curriculum" href="{% static 'core/docs/curriculum.pdf' %}" target="_blank">Curriculum in PDF</a>
</div>

<div id="rosalia" style="margin-bottom: 50px;">
        <p>
            {% for historia in blog %}
                
                <h2 id="year_blog" class="text-center">
                    {% if historia.year != None %}
                        {{historia.year}}
                    {% endif %}
                </h2>
                
                <a target="blank" id="stories" class="mx-5" href="{% if historia.link != None %} {{historia.link}} {% endif %}" style="display: flex; align-items: start;">
                    <span style="white-space: nowrap;"> 

                    <code>
                        <time class="dt-published dt-updated" datetime="{{historia.datetime}}">
                            {{historia.text_time}}
                        </time>
                    </code>
                        &nbsp;</span>

                    <span class="link__title">{{historia.title}}</span>
                </a>
            {% endfor %}
        </p>
    </div>
{% endblock %}