{% load static %}

<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">

        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'core/img/logo.png' %}" title="Logo"></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#testNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navigation" id="testNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="height: 50px;"><a class="nav-link blockquote mt-4" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item" style="height: 50px;"><a class="nav-link blockquote mt-4" href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-item" style="height: 50px;"><a class="nav-link blockquote mt-4" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item mb-4" style="height: 50px;"><a class="nav-link blockquote mt-4" href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </div>
</nav>