/* Fuentes */
@font-face {
    font-family: Euclid;
    src: url('../fonts/EuclidFlex-Regular.otf')
}

body {
    background-color: #121212;
}


/* Navigation */
.navbar {
    background-color: #1E1E1E;
}
#testNavbar ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    font-family: Roboto, sans-serif;
}
#testNavbar ul li a:hover {
    color: #B2B2B2;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}


/* Header */
.display-3 {
    text-align: center; color: #03DAC6;
}
#subheader {
    text-align: center; color: white;
}

#header {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 150px;
}

#header p {
    color: white;

}


/* Main */
p {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

#rosalia {
    max-width: 720px; 
    margin: 0 auto;
}

#stories{
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto",Helvetica,Arial,sans-serif;

}

#curriculum {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Euclid;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    width: auto;

    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#curriculum:hover {
    color: #B2B2B2;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}

#year_blog {
    color: #03DAC6;
}

.link__title{
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

.link__title:hover {
    color: grey;

    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}


/* Footer */
footer {
    text-align: center;
    line-height: center;
    width: 100%;
    height: 140px;
    bottom: 0;
    position: static;
    background-color: #1E1E1E;
}

#redes {
    margin-top: 10px
}

#redes ul {
    padding-top: 37px;
}

div.copy {
    padding-bottom: 1px;
    color: gray;
    position: relative
}

body > footer > div.copy > p {
    font-family: Roboto, sans-serif;
    font-size: small;
}

/* Hover footer */
#redes ul a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 17px;
    padding: 9px;
    color: white;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#redes ul a:hover {
    color: #B2B2B2;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}


/* Projects */
#project_link {
    text-decoration: none;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#project_link {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}