{% extends 'core/base.html' %}

{% load static %}

{% block title %}Projects - {% endblock %}

{% block content %}
    <div id="header">
        <h1 id="supertitle" class="display-3 pt-4">Projects</h1>
        <h2 id="subheader">Some of my completed projects.</h2>
        <p id="superp" class="text-light">Websites have become the most powerful tool for communication.</p>
    </div>

    <div class="container my-5">
        <div class="row">
            {% for project in projects %}
                <div class="card-deck mb-4 mx-auto" style="width: 350px;">
                    <div class="card rounded" style="background-color: #242526;" style="max-height:min-content;">
                        <img id="sky" src="{{project.image.url}}" class="card-img-top" title="{{project.title}}">
    
                        <div class="card-body">
                            <h3 class="card-title text-info">{{project.title}}</h3>
                            <h4 class="text-white">{{project.subtitle}}</h4>
                            <hr style="border-color: #EEECEC;">
                            <p class="text-white"><small>{{project.staff}}</small></p>
                        </div>

                        {% if project.link != None %}
                            <a href="{{project.link}}" target="blank" class="text-center mb-3"><img style="max-width: 25px;" src="{% static 'core/img/github.webp' %}" title="GitHub"></a>
                        {% endif %}  
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}