{% extends 'core/base.html' %}

{% load static %}

{% block title %}Projects - {% endblock %}

{% block content %}
    <div id="header">
        <h1 class="display-3">Projects</h1>
        <h2 id="subheader">Some of my completed projects.</h2>
        <div id="rosalia">
            <p class="text-light">Websites have become the most powerful tool for communication.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for project in projects %}
                <div class="card-deck mb-5 mx-auto" style="width:30%;">
                    <div class="card">
                            <img id="sky" src="{{project.image.url}}" class="card-img-top" title="{{project.title}}">
        
                            <div class="card-body">
                                <h5 class="card-title text-info">{{project.title}}</h5>
                                <p class="text-white">{{project.subtitle}}</p>
                                <hr style="border-color: #EEECEC;">
                                <p class="text-white"><small>{{project.staff}}</small></p>
                            </div>

                            {% if project.link != None %}
                                <a href="{{project.link}}" target="blank" class="text-center mb-3"><img style="max-width: 25px;" src="{% static 'core/img/github.png' %}" title="GitHub"></a>
                            {% endif %}
                            
                            
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}