/* Fuentes */
@font-face {
    font-family: Euclid;
    src: url('../fonts/EuclidFlex-Regular.otf')
}

html{
    min-height: 100%;
    position: relative;
}

body {
    background-color: #121212;
    margin: 0;
    margin-bottom: 150px;
}

#radio {
    border-radius: 2px red solid !important;
    color: brown;
}

#abajo {
    background-color: #242526;
    position: absolute;
    bottom: 0;
    width: 100%;
   
}


/* Navigation */
.navbar {
    background-color: #242526;
}
#testNavbar ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    font-family: Roboto, sans-serif;
}
#testNavbar ul li a:hover {
    color: #B2B2B2;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}

/* Header */
.display-3 {
    text-align: center; color: #03DAC6;
}
#subheader {
    text-align: center; color: white;
}

#header {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

#header p {
    color: white;

}


/* Main */
p {
    size: 16px;
}


.gordon{
    color: #FFFFFF;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    text-decoration: none !important;
}

.skill{
    text-decoration: none !important;
}

#botoncito{
    font-size: 18pt;
    height: min-content;
}

#certibotoncito{
    height: auto;
}

#contactbotoncito{
    height: auto;
}


#year_blog {
    color: #03DAC6;
}

.link__title{
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

.link__title:hover {
    color: grey;

    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}


/* Footer */
footer {
    text-align: center;
    line-height: center;
    width: 100%;
    height: 140px;
    bottom: 0;
    position: static;
    background-color: #242526;
}

#redes {
    margin-top: 10px
}

#redes ul {
    padding-top: 37px;
}

div.copy {
    padding-bottom: 1px;
    color: white;
    position: relative;
    font-size: 16px;
}

body > footer > div.copy > p {
    font-family: Roboto, sans-serif;
    font-size: small;
}

#skills a{
    text-decoration: none;
}

/* Hover footer */
#redes ul a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 9px;
    color: white;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#redes ul a:hover {
    color: #B2B2B2;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}


/* Projects */
#project_link {
    text-decoration: none;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#project_link {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}

.card{
    background-color: #242526;
}



/* Desactivar recuadro de boton cuando se presiona */
button{
    border-radius:10px !important;
    outline:none !important;
}