{% extends 'core/base.html' %}

{% load static %}

{% block title %}About - {% endblock %}

{% block content %}

    {% for i in about %}
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <img class="img-fluid avatar rounded-circle" src="{{i.image.url}}" alt="">
                </div>
                <div class="col-lg-7 col-md-8 text-light">
                    <h1 class="display-3 text-left">{{i.title}}</h1>
                    <h2 id="subheader" class="text-left">Developer student, human and father.</h2>    
                    <p class="text-center">{{i.content|safe}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}