{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div id="header" style="max-height: 50px;">
    <h1 class="display-3">Contact</h1>
    <p style="margin-bottom: 0px !important;"><span class="subheading">If you want to go fast, go alone. If you want to
            go far, go together!</span></p>
    <p style="margin-top: 0px !important;"><small>African Proverb</small></p>
</div>

<section class="page-section text-white mb-5">
    <div class="container">
        <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/contact.jpg' %}" alt=""> -->
        <div class="content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <p class="text-white">Have a question on a current project, want to work together or just say hello? Contact me on Linkedin, Instagram, GitHub or use the contact form below.</p>

                        {% if 'ok' in request.GET %}
                        <p><b>Su mensaje ha sido enviado correctamente!</b></p>
                        {% endif %}

                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>Nombre</label>
                                <div class="input-group">
                                    {{formulario.name}}
                                </div>
                                {{formulario.name.errors}}
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <div class="input-group">
                                    {{formulario.email}}
                                </div>
                                {{formulario.email.errors}}
                            </div>

                            <div class="form-group">
                                <label>Mensaje</label>
                                <div class="input-group">
                                    {{formulario.content}}
                                </div>
                                {{formulario.content.errors}}
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}