{% load static %}

<footer class="col-md-12" id="abajo">
    <div id="redes">
        <ul style="padding-left: 0px !important;">
            <li>
                <a target="blank" href="{% url 'contact' %}"><img style="max-height: 25px; max-width: 35px;" src="{% static 'core/img/inbox.svg' %}" title="Contact me"></a>
                <a target="blank" href="https://wa.me/393312629203"><img style="max-height: 25px; max-width: 35px;" src="{% static 'core/img/whatsapp.webp' %}" title="Send me a Whatsapp"></a>
                <a target="blank" href="https://www.linkedin.com/in/everdev/"><img style="max-height: 25px; max-width: 35px;" src="{% static 'core/img/linkedin.webp' %}" title="LinkedIn"></a>
                <a target="blank" href="https://github.com/ruizdiazever"><img style="max-height: 25px; max-width: 35px;" src="{% static 'core/img/github.webp' %}" title="GitHub"></a>
                <a target="blank" href="https://hub.docker.com/u/ruizdiazever/"><img style="max-height: 25px; max-width: 35px;" src="{% static 'core/img/docker.webp' %}" title="Docker Hub"></a>
            </li>
        </ul>
    </div>
    <div class="copy">
        </p><span id="year">2020</span> &copy Ever Ruiz Diaz, Software Developer</p>
    </div>
</footer>

<script>
    var date = new Date()
    var element = document.getElementById("year")
    element.innerHTML = date.getFullYear()
</script>