{% extends 'core/base.html' %}

{% load static %}


{% block content %}
    <div id="header" style="margin-bottom: 50px !important;">
        <h1 class="supertitle display-3">Hi, I'm Ever!</h1>
        <h2 id="subheader">Learn about my journey into the Developer World</h2>
        <p title="Skills" class="text-secondary mx-1"><small>Python 3, Django 4, Flask, JavaScript, Vue.js, HTML5, CSS, Bootstrap, PostgreSQL, Git, Docker, GNU/Linux, Bash Scripting</small></p>
    
        <a href="{% static 'core/curriculum/ever-curriculum.pdf' %}" target="blank"><button onclick="this.blur()" type="button" title="Curriculum" id="botoncito" class="btn btn-success btn-lg">Curriculum</button></a>

        <a href="{% url 'certifications' %}" id="certibotoncito" target="blank" title="Education">
            <button type="button" class="btn btn-primary btn-lg" title="Certifications" onclick="this.blur()">
                    <img style="max-width: 25px;" src="{% static 'core/img/school.svg' %}" title="Education">
            </button>
        </a>
    </div>

    <div class="pb-5 container" id="rosalia">
        <div>
            {% for elemento in blog %}
            <div>
                <h2 id="year_blog" class="text-center {% if elemento.year != None %} pt-3 {% endif %}">
                    {% if elemento.year != None %}
                        {{elemento.year}}
                    {% endif %}
                </h2>
                
                <a class="gordon text-left" type="button" data-toggle="modal" data-target="#{{elemento.subtitle}}" target="blank" type="button" href="{% if elemento.link != None %} {{elemento.link}} {% endif %}" style="display: flex; align-items: start;">
                    <span style="white-space: nowrap;"> 
                    <code>
                        <time class="dt-published dt-updated" datetime="{{elemento.datetime}}">
                            {{elemento.text_time}}
                        </time>
                    </code>
                        &nbsp;</span>
                    <span class="link__title">{{elemento.title}}</span>
                </a>
    
                <!-- Modal -->
                <div class="modal fade" id="{{elemento.subtitle}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="background-color: #121212;">
                            <div class="modal-header text-light" style="background-color: #1E1E1E; border-style: none;">
                                <h5 class="modal-title" style="color: #03dac6;">{{elemento.subtitle}}</h5>
                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
    
                            <div class="modal-body text-light">
                                {{elemento.description|safe}}

                                {% if elemento.link != None %}
                                    <br>
                                    <a href="{{elemento.link}}" class="text-info" target="blank"><small>More</small></a>
                                {% endif %}
                            </div>

                            <div class="modal-footer" style="background-color: #1E1E1E; border-style: none;">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
{% endblock %}